body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,h2,h3,h4,p,ul,a,li {
  text-decoration: none;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
* {
  box-sizing: border-box;
}
.app {
  margin: 0 auto;
}